/*Autor: Rafael Meurer
Data de criação: 17/08/2017
Data de modificação: 21/08/2017*/

.div_titulo{
    text-align: center;
    background-color: #444;
    color: #fff;
    width: 99.5%;
    height: 70px;
    border: 4px solid #000;
    font-family: "oswald";
  }
.input{
    width: 200px;
    height: 22px;
    border: 1px solid #000;
}
.form{
 float: left;
 margin-top: 3.4%;
}
.button{
    width: 100px;
    height: 26.5px;
    margin-top: 5%;
    border: 1px solid #000;
    background-color: #1FDD0A
}
.buttonReset{
    width: 100px;
    height: 26.5px;
    margin-top: 5%;
    border: 1px solid #000;
    background-color: #C80608
}
.frame{
    float: left;
    border: 2px solid #000;
    margin: 5px;
    padding: 3px;
}
.number{
    border: 1px solid #000;
    padding: 5px;
    text-align: center;
    background-color: #fff;
}
.throw{
    background-color: #fff;
    float: left;
    border: 1px solid #000;
    padding: 5px;
    height: 30px;
    width: 30px;
}
.totalPoints{
    clear: both;
    background-color: #fff;
    border: 1px solid #000;
    padding: 5px;
    text-align: center;
}
.titulos{
    float: left;
    margin-top: 5px;
}
.titulo{
    padding: 6.2px;
    border: 1px solid #000;
    background-color: #E3C610;
}
.div_geral{
    margin: 10%;
}
.titulo2{
    width: 18%;
    margin-left: 18%;
    margin-top: 2.9%;
    padding: 4.5px;
    float: left;
}